---
http_interactions:
- request:
    method: get
    uri: http://api.data.sanjoseca.gov/dashboards/search?auth_key=d759b5b71ce13ac5e74bfa466a5caf033a1c5931&limit=&query=FIRE
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"description": "Fire Department budget information since 2007.",
        "tags": ["san jose", "City of San Jose", "Budget", "fire"], "created_at":
        "1386019750", "title": "Fire Department", "link": "http://data.sanjoseca.gov/dashboards/8514/fire-department/",
        "id": "FIRE-DEPAR"}]'
  recorded_at: Fri, 12 Sep 2014 21:50:02 GMT
recorded_with: VCR 2.9.3
